@model ICollection<TorrentSite.Areas.ViewModels.TorrentViewModel>

<div class="row-fluid" id="torrentHeaders">
    <div class="span3">
        Title
    </div>
    <div class="span3">
        FileLink
    </div>
    <div class="span2">
        Description
    </div>
    <div class="span2">
        CatalogueId
    </div>
    <div class="span2">
        Actions
    </div>
</div>

<div class="demo-section">
    @(Html.Kendo().ListView<TorrentSite.Areas.ViewModels.TorrentViewModel>(Model)
    .Name("laptopsListView")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource =>
    {
        //dataSource.Read(read => read.Action("GetAllTorrents", "Torrents"));
        dataSource.PageSize(5);
        dataSource.ServerOperation(true);
    })
    .Pageable()
    )
</div>

<script type="text/x-kendo-tmpl" id="template">
    
    <div class="row-fluid">
        <div class="span3">
            #:Title#
        </div>
        <div class="span3">
            #:FileLink#
        </div>
        <div class="span2">
            #:Description#
        </div>
     
        <div class="span2">
            #:CatalogueId#
        </div> 
        <div class="span2">
           <a href="/Administration/Torrents/EditTorrent/#:Id#" class="btn-info">Edit</a>
            <a href="/Administration/Torrents/DeleteTorrent/#:Id#" class="btn-info">Delete</a>
        </div>  
    </div>
</script>
